.right-bar{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 50px 30px;
  width: 350px;
  transition: all 0.2s;
}
  .current-account-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
    .current-account{
      display: flex;
      align-items: center;
    }
      .current-account-pic{
        height: 60px;
        width: 60px;
      }
        .current-account-pic-img{
          height: 100%;
          width: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      .current-account-handle{
        padding: 0px 15px;
      }
        .current-account-username{
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.2s;
        }
          .current-account-username:hover{
            text-decoration: underline;
          }
        .current-account-name{
          font-size: 15px;
          font-weight: 300;
          color: gray;
        }
    .account-switch{
      font-size: 14px;
      font-weight: 500;
      color: rgb(72, 154, 249);
      cursor: pointer;
    }
  

  .suggestions{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
    .suggestions-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 5px 10px 10px;
    }
      .suggestions-txt{
        font-size: 15px;
        font-weight: 500;
        color: gray;
      }
      .suggestions-all{
        font-size: 13px;
        font-weight: 500;
        color: rgb(30,30,30);
        cursor: pointer;
      }
    .suggestion{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 5px;
    }
      .suggestion-profile{
        display: flex;
        align-items: center;
      }
        .suggestion-profile-pic{
          height: 40px;
          width: 40px;
        }
          .suggestion-profile-pic-img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
          }
        .suggestion-handle{
          display: flex;
          flex-direction: column;
          padding: 0px 15px;
        }
          .suggestion-username{
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: all 0.2s;
          }
            .suggestion-username:hover{
              text-decoration: underline;
            }
          .suggestion-reason{
            font-size: 12px;
            color: gray;
          }
      .suggestion-follow{
        font-size: 14px;
        font-weight: 500;
        color: rgb(72, 154, 249);
        cursor: pointer;
      }
    

    .website-details{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
      .website-detail{
        padding: 10px 0px 10px 10px;
        color: gray;
      }
        .website-detail-link{
          font-size: 11px;
          color: gray;
          text-decoration: none;
        }
      .website-detail-copyright{
        font-size: 12px;
        padding: 10px;
        color: gray;
      }



@media(max-width:1500px){
  .right-bar{
    opacity: 0;
  }
}